@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
  font-family: Neuro;
  src: url('/fonts/Neuropolitical-Regular.woff2');
}
@font-face {
  font-family: Plat;
  src: url('/fonts/Platinum-Sign-Over-Regular.woff2');
}
@font-face {
  font-family: TT;
  src: url('/fonts/TT-Octosquares-Trl-Blc-It.woff2');
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-plat: Plat;
  --font-tt: TT;
  --font-neuro: Neuro;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
.confirm_selection {
  animation: glow .5s infinite alternate;
}

@keyframes glow {
  to {
      text-shadow: 0 0 20px wheat;
  }
}